{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AIECO</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/fontawesome-all.min.css' %}" media="all">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'aieco/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aieco/img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'aieco/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'aieco/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'aieco/css/responsive.css' %}" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% block block %}
    {% endblock block %}
    <footer id="colophon" class="site-footer">
        <div class="copyright">
            <div class="container flex-row space-between">
                <div class="social-links">
                    <a class="twitter-bg"  href="{{Setting.sURL1}}"><i class="fab fa-twitter "></i></a>
                    <a class="facebook-bg" href="{{Setting.sURL2}}"><i class="fab fa-facebook"></i></a>
                    <a class="linkedin-bg" href="{{Setting.sURL3}}"><i class="fab fa-linkedin"></i></a>
                </div>
                <div>
                    <i class="fa fa-envelope site-white" aria-hidden="true"></i>
                    <a href="mailto:{{Settings.sEmail}}?subject=Informacion&body=Aieco"> {{Settings.sEmail|default:'mail@aieco.com.co'}}</a>
                    <br/>
                    <i class="fa fa-phone site-white" aria-hidden="true"></i>
                    <a href="https://wa.me/{{Setting.sIdx}}{{Setting.sTel}}"> +{{Settings.sIdx|default:'57'}} {{Settings.sTel|default:'3000000000'}}</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'aieco/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'aieco/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'aieco/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'aieco/js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'aieco/js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'aieco/js/script.js' %}"></script>
</body>
</html>