{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AIECO</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'aieco/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aieco/img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'aieco/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'aieco/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'aieco/css/responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% block block %}
    {% endblock block %}
    <footer id="colophon" class="site-footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="social-links">
                            <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                            <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                        </div><!-- /.social-links -->
                    </div>
                    <div class="col-xs-4" style="margin-left: 50px;">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:info@agencyperfect.com">{{Settings.sEmail|default:'my@aieco.com'}}</a>
                        <br />
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:+573216564188">{{Settings.tel|default:'+57 (321) 656 41 88'}}</a>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-left: 50px;">
                        <div>
                            <p>&copy; AIECO &nbsp; - &nbsp; Todos los Derechos Reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.copyright -->
    </footer><!-- /#footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'aieco/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'aieco/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'aieco/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'aieco/js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'aieco/js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'aieco/js/script.js' %}"></script>
</body>

</html>