{% load static %}
{% load humanize %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es" class="w-full h-full">
<head>
    <!-- HTML5 AIECO WEBSITE =========================s -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIECO</title>
    <meta name="author" content="Aieco">
    <meta name="description" content="Asesorias Integrales">
    <meta name="keywords" content="Asesorias">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css">
    <!-- Favicon ===================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
    <!-- Stylesheets
    ================================================== -->
    <!-- Tailwind CSS --------->
    {% tailwind_css %}
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/deafult.config.css' %}" rel="stylesheet">
    <!-- GoogleRecaptcha CSS -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("password-reset").submit();
      }
    </script>
  </head>
<body>
  <main>
    <div class="flex items-center justify-center bg-background01 bg-cover bg-center bg-no-repeat h-screen text-white bg-inherit relative z-10 after:text-inherit after:bg-black after:bg-opacity-80 after:block after:absolute after:top-0 after:left-0 after:w-full after:h-full after:content-[''] after:z-[-1]">
      <div class="flex flex-col w-2/5 justify-center bg-gray-100 rounded-lg items-center m-auto gap-4 border-double border-4 border-gray-400">
        <div class="w-full flex flex-col justify-center items-center m-auto p-8 pb-0">
          <p class="text-gray-800 text-2xl mt-4 text-center">¿OLVIDO LA CONTRASEÑA?</p>
          <hr class="w-5/6 h-0.5 bg-gray-400 my-2">
          <p class="text-gray-600 text-sm text-center">Te enviaremos un enlace a tu correo para que puedas cambiar la contraseña, por favor ingresa el email asociado a tu cuenta.</p>
          <form target="_self" method="POST" id="password-reset" class="w-full flex flex-col justify-center items-center p-6">
            {% csrf_token %}
            <input class="w-full" type="email" name="email" autocomplete="email" maxlength="254" required id="email">
            <button class="g-recaptcha mt-4 w-full h-10 bg-green-700 hover:bg-green-800 transition-colors duration-300 rounded-sm text-gray-100 text-sm font-semibold cursor-pointer" data-sitekey="6Lf2NRAoAAAAACYWfoHhs2mNkCGPpuJIX4tgPq_5" data-callback="onSubmit">ENVIAR</button>
            <a href="{% url 'login' %}" class="text-blue-600 font-semibold mt-4 hover:text-blue-800 transition-colors duration-300">< Regresar a inicio de sesión</a>
            <a href="{% url 'index' %}" class="text-red-600 font-semibold hover:text-red-800 transition-colors duration-300">< Volver al Inicio</a>
          </form>
        </div>
    </div>
  </main>
  <!-- Javascrypts/Jquery ============================================================ -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>



