{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIECO</title>
</head>
<body>
{% block block %}
  <div>
    <h2 class="pw-h2">VERIFICADO</h2><br>
    <h3 class="pw-h3">Felicidades, su validación por correo electrónico ha sido exitosa. 
        Ahora puede disfrutar de todos los servicios disponibles. Gracias por su paciencia.</h3>
    <div>
      <a href="{% url 'index' %}">Home</a>
    </div>
  </div>
{% endblock %}
</body>
</html>