{% load static %}
<footer>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 h-[15vh] items-center justify-center bg-neutral-800 py-4 px-8">
        <div class="col-span-1 flex flex-row items-center justify-start gap-x-2">
            <img src="{% static '/images/logo1.png' %}" class="h-8" />
            <div class="flex flex-col items-center justify-center">
                <div class="flex flex-col justify-center items-start gap-x-2 ">
                    <p class="-mt-1 font-thin text-gray-400">{{settings.email|default:"admin@aieco.com.co"}}</p>
                    <p class="-mt-1 font-thin text-gray-400">+{{settings.idx|default:"57"}} {{settings.phone|default:"30000000000"}}</p>
                </div>
            </div>
        </div>
        <div class="col-span-1 flex flex-col items-start gap-y-1 text-sm">
            {% if arrayLegalLinks %}
                {% for i in arrayLegalLinks %}
                    <a href="{% url 'legal' iURL=i.url %}"><p class="-mt-1 text-gray-400">{{i.title}}</p></a>
                {% endfor %}
            {% else %}
                <p class="-mt-1 text-gray-400">Terminos & Condiciones</p>
                <p class="-mt-1 text-gray-400">Politica de Provacidad</p>
            {% endif %}
        </div>
        <div class="col-span-1 flex flex-row gap-4 whitespace-nowrap items-center justify-center">
          <div class="flex flex-col text-xs">
            <p class="text-gray-200 uppercase">Atencion</p>
            <p class="text-gray-400 text-left text-xs">Lunes-Sabado {{settings.opening|time:"g"|default:"10"}}-{{settings.closing|time:"g"|default:"6"}}pm</p>
          </div>
          <div class="text-gray-400 text-left text-xs">
            <p>Jornada Continua</p>
            <p>{{settings.address|default:"Cll 1A 10-20"}}</p>
          </div>
        </div>
        <div class="col-span-1 flex flex-row gap-4 items-center">
            <div class="flex flex-col text-xs">
              <p class="text-gray-200 uppercase">Contactanos</p>
              <p class="text-gray-400">WhatsApp: {{settings.phone|default:"30000000000"}}</p>
            </div>
            <div>
              <a href="https://wa.me/{{settings.idex}}{{settings.phone}}" target="_blank" class="bg-gray-500 hover:bg-gray-600 text-gray-200 font-bold py-2 px-4 rounded-md text-xs max-w-fit">CHAT</a>
            </div>
          </div>
      </div>
</footer>