{% extends 'aieco/base.html' %}
{% load static %}
{% load humanize %}


{% block block %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<header id="masthead" class="site-header">
  <nav id="primary-navigation" class="site-navigation">
      <div class="navbar-header flex-row space-between">
          <img src="{% static '/img/logo02.png' %}" alt="logo" class="logo" style="width: 150px; height: auto;">
          <div style="text-align: right;">
              {% if user.is_authenticated %}
              <!-- <a href="{% url 'index' %}" class="btn btn-border">Home</a>  -->
              <div class="links-head">
                  <a href="{% url 'admin' %}">Administrar</a>
                  <a href="{% url 'logout' %}">Salir</a>
              </div>
              {% else %}
              <!-- <a href="{% url 'index' %}" class="btn btn-border">Home</a>  -->
              <div class="links-head">
                  <a href="{% url 'index' %}">Inicio</a>
              </div>
              {% endif %}
          </div>
      </div><!-- /.navbar-header -->
      <div class="collapse navbar-collapse" id="agency-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index.html" data-toggle="dropdown">Home</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<i
                  class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li><a href="portfolio.html">Portfolio</a></li>
                      <li><a href="blog.html">Blog</a></li>
                  </ul>
              </li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="ui-elements.html">UI Elements</a></li>
          </ul>
      </div>
  </nav><!-- /.site-navigation -->
</header><!-- /#mastheaed -->
<main id="main" class="site-main">
  <section class="site-section section-map-feature text-center">
    <div class="container backtopspace-30">
      <img src="{% static '/img/logo03.png' %}" alt="logo" class="logo" style="width: 512px; height: auto;">
      <form target="_self" method="POST" class="form-group newsletter-group">
        {% if messages %}
        <div class="{{ message.tags }}">
          <ul>
            {% for message in messages %}
            <h5 {% if message.tags %} class="{{ message.tags }} {{ message.extra_tags }}" {% endif %}>{{ message }}
            </h5>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <div style="height: 30px;"></div>
        {% endif %}
        {% csrf_token %}
        <div class="flex-column backtopspace-50">
          <input type="text" class="form-control" placeholder="Usuario" name="username" autofocus="true"
          autocapitalize="none" autocomplete="username" maxlength="64" required id="id_username">
          <input type="password" class="form-control" placeholder="Contraseña" name="password"
          autocomplete="current-password" required id="id_password">
          <input type='submit' value='INGRESAR' class="btn-log btn-fill">
        </div>
        <a href="{% url 'password_reset' %}">¿Olvidaste la Contraseña?</a>
        <div class="text-center">
          <div class="g-recaptcha" data-sitekey="6LeFQ-okAAAAAPh0_rYHVCnAVpBn1GHgWVdv6UFQ"
            style="display: inline-block;"></div>
        </div>
      </form>
    </div>
  </section><!-- /.section-map-feature -->
</main><!-- /#main -->
<script>
  document.querySelector('#submit').addEventListener('click', function (event) {
    if (!grecaptcha.getResponse()) {
      event.preventDefault();
      alert('¡Invalid recaptcha!');
    }
  });
</script>
{% endblock %}