{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIECO</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/fontawesome-all.min.css' %}" media="all">
    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'aieco/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aieco/img/favicon.png' %}">
    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'aieco/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'aieco/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'aieco/css/responsive.css' %}" rel="stylesheet">
</head>
<body>
  <main id="main" class="site-main hero">
    <section class="site-section section-map-feature text-center map02">
      <div class="container">
        <img src="{% static '/img/logo03.png' %}" alt="logo" class="logo" style="width: 512px; height: auto;">
        <form target="_self" method="POST" class="form-group newsletter-group">
          {% if messages %}
          <div class="{{ message.tags }}">
            <ul>
              {% for message in messages %}
              <h5 {% if message.tags %} class="{{ message.tags }} {{ message.extra_tags }}" {% endif %}>{{ message }}
              </h5>
              {% endfor %}
            </ul>
          </div>
          {% else %}
          <div style="height: 30px;"></div>
          {% endif %}
          {% csrf_token %}
          <div class="flex-column backtopspace-50">
            <input type="text" class="form-control" placeholder="Usuario" name="username" autofocus="true"
            autocapitalize="none" autocomplete="username" maxlength="64" required id="id_username">
            <input type="password" class="form-control" placeholder="Contraseña" name="password"
            autocomplete="current-password" required id="id_password">
            <input type='submit' value='INGRESAR' class="btn-log btn-fill">
          </div>
          <a href="{% url 'password_reset' %}">¿Olvidaste la Contraseña?</a>
        </form>
      </div>
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static 'aieco/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'aieco/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'aieco/js/jquery.slicknav.min.js' %}"></script>
  <script src="{% static 'aieco/js/jquery.countTo.min.js' %}"></script>
  <script src="{% static 'aieco/js/jquery.shuffle.min.js' %}"></script>
  <script src="{% static 'aieco/js/script.js' %}"></script>
</body>
</html>