{% extends 'aieco/base.html' %}
{% load static %}
{% load humanize %}


{% block block %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<header id="masthead" class="site-header">
  <nav id="primary-navigation" class="site-navigation">
    <div class="container">

      <div class="navbar-header">

        <img src="{% static '/img/logo.png' %}" alt="logo" style="width: 150px; height: auto;">

      </div><!-- /.navbar-header -->

    </div>
  </nav><!-- /.site-navigation -->
</header><!-- /#mastheaed -->

<main id="main" class="site-main">

  <section class="site-section section-map-feature text-center">

    <div class="container">
      <h2>Login</h2>
      <p>Por favor ingrese sus credenciales a continuación para iniciar sesión en el sistema.</p>
      <br />
      <form target="_self" method="POST" class="form-group newsletter-group">
        {% if messages %}
        <div class="{{ message.tags }}">
          <ul>
            {% for message in messages %}
            <h5 {% if message.tags %} class="{{ message.tags }} {{ message.extra_tags }}" {% endif %}>{{ message }}
            </h5>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <div style="height: 30px;"></div>
        {% endif %}
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Usuario" name="username" autofocus="true"
          autocapitalize="none" autocomplete="username" maxlength="64" required id="id_username">
        <input type="password" class="form-control" placeholder="Contraseña" name="password"
          autocomplete="current-password" required id="id_password">
        <input type='submit' value='INGRESAR' class="btn btn-fill" style="margin-top: 150px;" />
        <br /><br />
        <a href="{% url 'singup' %}">¿No Eres Miembro? Regístrate</a>
        &nbsp;<br />
        <a href="{% url 'password_reset' %}">¿Olvidaste la Contraseña?</a>
        <br /><br />
        <div class="text-center">
          <div class="g-recaptcha" data-sitekey="6LeFQ-okAAAAAPh0_rYHVCnAVpBn1GHgWVdv6UFQ"
            style="display: inline-block;"></div>
        </div>
      </form>
    </div>

  </section><!-- /.section-map-feature -->

</main><!-- /#main -->

<script>
  document.querySelector('#submit').addEventListener('click', function (event) {
    if (!grecaptcha.getResponse()) {
      event.preventDefault();
      alert('¡Invalid recaptcha!');
    }
  });
</script>
{% endblock %}