{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIECO</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/fontawesome-all.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'aieco/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aieco/img/favicon.png' %}">
    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'aieco/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'aieco/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'aieco/css/responsive.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="section-admin flex-row">
    <div class="container-main site-grey">
      <div>
        <p>AIECO</p><hr>
        <img src="{{user.logo.url}}" style="width: 150px; height: auto;" alt="">
        <p>{{user.username}}</p>
        <p>{{user.email}}</p><hr>
      </div>
      <div class="links-main">
        <a href="{% url 'admin' %}"><p class="text-uppercase">Deshboard</p></a>
        <a href="{% url 'files' %}"><p class="text-uppercase">Archivos</p></a>
      </div>
    </div>
    <div class="admin-block">
      <div class="admin-links">
        <a href="{% url 'index' %}"><i class="fa-solid fa-house"></i></a>
        <a href="{% url 'logout' %}"><i class="fa-solid fa-power-off"></i></a>
      </div>
      <div><!--SectionBlock Start-->
        <main id="main" class="site-main">
          <section class="site-section section-portfolio">
            <div class="container">
              <div class="text-center">
                <h2 class="heading-separator">ARCHIVOS</h2>
                <p class="subheading-text"></p>
              </div>
              <br />
              <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th colspan="5" class="text-left" style="background-color: #cad4dd;">
                        <span style="color: #6c757d;"></span>
                      </th>
                    </tr>
                    <tr class="text-uppercase">
                      <th>ID</th>
                      <th>NOMBRE</th>
                      <th>Inscrito</th>
                      <th>Vencimiento</th>
                      <th>DESCARGAR</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in iListFiles %}
                    <tr>
                      <td>{{ i.id }}</td>
                      <td>{{ i.filename }}</td>
                      <td>{{ i.file_date }}</td>
                      <td>{{ i.file_validity }}</td>
                      <td><a href="{{ i.files.url }}" target="_blank"><i class="fas fa-download"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% if not iListFiles.has_next %}
                      {% for i in FixListPage %}
                      <tr><td></td><td></td><td></td><td></td><td></td></tr>
                      {% endfor %}
                    {% elif not iListFiles.has_other_pages %}
                      {% for i in FixListPage %}
                      <tr><td></td><td></td><td></td><td></td><td></td></tr>
                      {% endfor %}           
                    {% endif %}
                  </tbody>
                </table>
              </div>
              {% if iListFiles.has_other_pages %}
              <ul class="pagination">
                  {% if iListFiles.has_previous %}
                      <li><a href="?page={{ iListFiles.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                      <li><a href="">&laquo;</a></li>
                  {% endif %}
                  {% for page in iListFiles.paginator.page_range %}
                      {% if page == iListFiles.number %}
                          <li class="active"><span></span></li>
                      {% else %}
                          <li class="inactive"><a href="?page={{ page }}"></a></li>
                      {% endif %}
                  {% endfor %}
                  {% if iListFiles.has_next %}
                      <li><a href="?page={{ iListFiles.next_page_number }}">&raquo;</a></li>
                  {% else %}
                  <li><a href="">&raquo;</a></li>
                  {% endif %}
              </ul>
              {% endif %}
            </div>
            </div>
          </section>
        </main>
      </div><!--SectionBlock End-->
    </div>
  </div>
</body>
</html>