{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIECO</title>
</head>
<body>
  <h1>Lista de archivos</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre del archivo</th>
        <th>Enlace de descarga</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{ file.id }}</td>
          <td>{{ file.files.name }}</td>
          <td><a href="{{ file.files.url }}" target="_blank">Descargar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>