{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIECO</title>
</head>
<body>
    <form action="{% url 'profile' %}" target="_self" method="POST" class='profile-form'>
        {% if messages %}
        <div class="{{ message.tags }}">
            <ul>
            {% for message in messages %}
                <h5 {% if message.tags %} class="{{ message.tags }} {{ message.extra_tags }}"{% endif %}>{{ message }}</h5>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        <div style="height: 30px;"></div>
        {% endif %}
        {% csrf_token %}
            <img src="{{user.logo.url}}" alt="logo">
            <input type="file"><br><br>
            <label>Empresa</label><input type="text" placeholder="{{user.company}}" readonly>
            <label>Nit</label><input type="text" placeholder="{{user.nit}}" readonly><br>
            <br>
            <label>Nombre</label><input type="text" placeholder="{{user.first_name}}">
            <label>Apellido</label><input type="text" placeholder="{{user.last_name}}"><br>
            <label>email</label><input type="text" placeholder="{{user.email}}">
            <label>Telefono</label><input type="text" placeholder="{{user.phone}}"><br>
            <label>country</label><input type="text" placeholder="{{user.country}}">
            <label>state</label><input type="text" placeholder="{{user.state}}">
            <label>city</label><input type="text" placeholder="{{user.city}}">
            <label>address</label><input type="text" placeholder="{{user.address}}"><br>
            <input type='submit' value='ACTUALIZAR'>
      </form>
</body>
</html>
