@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{font-family: 'Josefin Sans', sans-serif;}

body{margin: 0; padding: 0;
    background: #071021;
    background-repeat: no-repeat;
    background-position: center center;}

.container{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.img-pw1{margin: 0px;margin-left: 10px;padding: 0px;transform: scale(0.8);}

.container-pw{
    display: flex;
    width: 50%;
    min-width: 280px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.20);
    padding: 15px;
    margin-top: -50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: azure;
}

.container-form-confirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}



.pw-h2{margin: 0; padding-top: 5px; padding-bottom: 0px;text-transform: uppercase;}
.pw-h3{margin: 0; padding-bottom: 15px;font-size: smaller;font-weight: lighter;}

.pw-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.pw-boton {
    align-items: center;
    appearance: none;
    background-image: linear-gradient(1deg, #0a1b25, #021936c4 100%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 30px;
    border-width: 0;
    box-sizing: border-box;
    color: #ccc;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: 25px;
    width: 80px;
    justify-content: center;
    line-height: 1.5;
    text-align: center;
    transition: background-color .2s,background-position .2s;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }a{text-decoration: none; color: azure; font-weight: bold;}
  .pw-boton:active,.pw-boton:focus {outline: none;}
  .pw-boton:hover {background-position: -20px -20px; outline: none;}

  /*Display-T/B*/
.btmspace-0{margin-bottom:0;}
.btmspace-10{margin-bottom:10px;}
.btmspace-30{margin-bottom:30px;}
.btmspace-50{margin-bottom:50px;}


.backtopspace-50{margin-top:-50px;}
.backtopspace-30{margin-top:-30px;}
.backtopspace-10{margin-top:-10px;}
.topspace-0{margin-top:0;}
.topspace-10{margin-top:10px;}
.topspace-30{margin-top:30px;}
.topspace-50{margin-top:50px;}

.padding-btm0 {padding-bottom: 0;}
.padding-btm30 {padding-bottom: 30px;}
.padding-btm50 {padding-bottom: 50px;}
.padding-btm80 {padding-bottom: 80px;}
.padding-btm150 {padding-bottom: 150px;}

.padding-top0 {padding-top: 0;}
.padding-top30 {padding-top: 30px;}
.padding-top50 {padding-top: 50px;}
.padding-top80 {padding-top: 80px;}
.padding-top150 {padding-top: 150px;}