{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AIECO</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'aieco/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aieco/img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'aieco/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'aieco/css/password.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container backtopspace-50">
    <img class="img-pw1" src="{% static '/img/pw/pw4.png' %}" alt="img-pw1">
    <div class="container-pw">
      <h2 class="pw-h2">¿OLVIDO LA CONTRASEÑA?</h2><br>
      <h3 class="pw-h3">Lo siento, pero parece que has olvidado tu contraseña. sigue las instrucciones 
        para restablecer tu contraseña y acceder de nuevo a tu cuenta, por favor ingresa el correo electrónico
        asociado a tu cuenta. </h3>
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" autocomplete="email" maxlength="254" placeholder="Email" required id="id_email">
        <button class="pw-boton" name="submit" id="submit" type="submit"><i class="fa-solid fa-envelope-circle-check"></i></button><br>
      </div><br>
        <div class="g-recaptcha" data-sitekey="6LeFQ-okAAAAAPh0_rYHVCnAVpBn1GHgWVdv6UFQ"></div>
      </form>
      <script>
      document.querySelector('#submit').addEventListener('click', function(event) {
        if (!grecaptcha.getResponse()) {
        event.preventDefault();
        alert('¡Invalid recaptcha!');
        }
      });
      </script>
  </div>
</body>
</html>



