{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AIECO</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'aieco/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aieco/img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'aieco/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'aieco/css/password.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
  <img class="img-pw1" src="{% static '/img/pw/pw1.png' %}" alt="img-pw1">
  <div class="container-pw">
    <h2 class="pw-h2">ENVIADO</h2><br>
    <h3 class="pw-h3">Le hemos enviado instrucciones por correo electrónico para establecer su contraseña,
      sí existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve. Si no recibe
      un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su
      carpeta de correo no deseado.</h3>
      <div class="pw-links">
        <button class="pw-boton" onclick=window.location.href="{% url 'index' %}"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
        <button class="pw-boton" onclick=window.location.href="{% url 'password_reset' %}"><i class="fa-solid fa-retweet"></i></button>
        <a href="https://wa.me/{{Setting.sIdx}}{{Setting.sTel}}">
          <button class="pw-boton"><i class="fa-brands fa-whatsapp"></i></button>
        </a>
      </div>
  </div>
</div>
</body>
</html>