{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block block %}
  <div>
    <h2>¿OLVIDO LA CONTRASEÑA?</h2><br>
    <h3>Lo siento, pero parece que has olvidado tu contraseña. sigue las instrucciones 
      para restablecer tu contraseña y acceder de nuevo a tu cuenta, por favor ingresa el correo electrónico
      asociado a tu cuenta.
    </h3>
    <form method="POST">
      {% csrf_token %}
      <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
      <button type="submit">ENVIAR</button>
    </form>
  </div>
{% endblock %}
</body>
</html>



