{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIECO</title>
</head>
<body>
{% block block %}
  <div>
    <h2>ACTUALIZAR</h2><br>
    <h3>Ingresa una nueva contraseña, no comparta sus credenciales de inicio de sesión con nadie, ningún
      empleado de VRT-Fund solicitara su contraseña de inicio de sesión, recuerde revisar periódicamente su cuenta. 
    </h3>
    <form method="POST">
      {% csrf_token %}
      <div>
        <label for="new_password1">Contraseña:</label>
        <input type="password" name="new_password1" id="new_password1">
        <label for="new_password2">Confirmar:</label>
        <input type="password" name="new_password2" id="new_password2">
        <button type="submit">ACEPTAR</button>
      </div>
    </form>
  </div>
{% endblock %}
</body>
</html>