{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIECO</title>
</head>
<body>
{% block block %}
	<div>
    <div>
      <h2>COMPLETADO</h2><br>
      <h3>La contraseña ha sido establecida. a continuación, puede 
        <a href="{% url 'login' %}">iniciar sesión</a> nuevamente, recuerde mantener sus datos de inicio de sesión 
          secretos y seguros, además de verificar periódicamente los retiros generados por el portal administrativo, 
          sí encuentra alguna anomalía, por favor comunicarse con la administración.
      </h3>
    </div>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
  </div>
{% endblock %}
</body>
</html>