{% load static %}
{% load humanize %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es" class="w-full h-full">
<head>
    <!-- HTML5 AIECO WEBSITE ========================= -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIECO</title>
    <meta name="author" content="Aieco">
    <meta name="description" content="Asesorias Integrales">
    <meta name="keywords" content="Asesorias">
    <!-- Mobile Specific Metas ====================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css">
    <!-- Favicon ===================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
    <!-- Stylesheets ================================= -->
    <!-- Tailwind CSS ================================ -->
    {% tailwind_css %}
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <main class='flex flex-row h-screen bg-gray-100 py-4'>
    {% include 'components/admin/navbar.html' %}
    <section class="flex flex-col h-full w-full px-10">
      {% include 'components/admin/header.html' %}
      <div class="bg-white h-[80vh] px-8 py-4 grid grid-cols-5 rounded-md shadow-inner bg-opacity-90 space-x-4">
        {% if arrayNotifications %}
        <div class="col-span-2 gap-y-2 p-3 flex flex-col items-center justify-start w-full h-full bg-gray-100 rounded-md shadow-inner overflow-scroll overflow-x-hidden">
          {% for i in arrayNotifications %}
          <div id="dlog-notify-{{ forloop.counter }}" dlogID="{{ i.id }}" data-subject="{{ i.sender }}" data-senders="{{ i.sender.email }}" data-message="{{ i.message }}"
            class="{% if i.read %}bg-gray-200{% else %}bg-green-200{% endif %} w-full h-14 rounded-md flex flex-row justify-between py-2 px-4 cursor-pointer hover:shadow-inner hover:bg-gray-300 transition duration-300">
            <div class="flex flex-col justify-between">
              <p class="text-xs uppercase font-semibold">{{ i.sender }}</p>
              <p class="text-[10px] font-semibold uppercase">{{ i.subject }}</p>
            </div>
            <p class="text-sm font-thin">{{ i.date|date:'d M' }}</p>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="col-span-2 flex items-start justify-center h-full bg-gray-100 rounded-md shadow-inner bg-opacity-95 p-4">
          <p class="font-thin text-sm mt-6">No hay notificaciones nuevas</p>
        </div>
        {% endif %}
        {% if arrayAnnouncements %}
        <div class="col-span-3 gap-y-2 p-3 flex flex-col items-center justify-start w-full h-full bg-gray-100 rounded-md shadow-inner overflow-scroll overflow-x-hidden">
          {% for i in arrayAnnouncements %}
          <div class="relative bg-gray-200 w-full h-28 rounded-md p-4 hover:shadow hover:bg-opacity-80 transition duration-300">
              <div class="relative z-10 flex flex-row justify-between items-center">
                <p class="text-sm font-semibold uppercase">{{i.title}}</p>
                <p class="text-xs font-semibold">{{i.date|date:'d M Y'|default:"--"}}</p>
              </div>
              <p class="z-10 w-full mt-2 text-sm h-10 text-ellipsis overflow-hidden relative text-justify">{{i.description}}</p>
          </div>                
          {% endfor %}
        </div>
        {% else %}
        <div class="col-span-3 flex flex-col gap-y-2 items-center justify-start h-full bg-gray-100 rounded-md shadow-inner bg-opacity-95 p-4">
          <p class="font-thin text-sm mt-6">No hay anuncios nuevos</p>
        </div>
        {% endif %}
      </div>
    </section>
    <dialog id="dialog-container">
      <form method="POST" id="dialogForm">
        {% csrf_token %}
        <input type="hidden" name="dialogID" value="{{ dlogID }}">
        <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50 z-50">
          <div class="relative bg-gray-100 px-4 py-14 rounded shadow-md w-2/3 h-[75vh]" id="dialog">
              <div class="flex flex-row items-center gap-x-4 w-full bg-white border border-gray-200 rounded px-4 py-1 my-2 text-xl font-semibold">
                <p id="dialog-subject"></p>
                <p id="dialog-senders" class="text-sm text-gray-600"></p>
              </div>
              <div id="dialog-message" class="w-full bg-white border border-gray-200 rounded px-4 py-4 my-2 h-5/6 "></div>
              <button class="text-white bg-red-500 hover:bg-red-700 absolute top-4 right-4 px-1 rounded transition duration-300" id="close-button"><i class="fa-solid fa-xmark"></i></button>
              <div class="absolute bottom-4 -ml-4 px-4 w-full flex flex-row items-center gap-x-2 justify-end">
                <button type="submit" name="read" value="True" class="text-white text-xs bg-green-700 hover:bg-green-900 px-2 py-1 rounded-sm uppercase transition duration-300">Aceptar</button>
                <button type="submit" name="archived" value="True" class="text-white text-xs bg-yellow-700 hover:bg-yellow-900 px-2 py-1 rounded-sm uppercase transition duration-300">Archivar</button>
              </div>
          </div>
        </div>
      </form>
    </dialog>
    <script src="{% static 'js/dialog.js' %}"></script>
  </main>
</body>
</html>