{% load static %}
{% load humanize %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es" class="w-full h-full">
<head>
    <!-- HTML5 AIECO WEBSITE ========================= -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIECO</title>
    <meta name="author" content="Aieco">
    <meta name="description" content="Asesorias Integrales">
    <meta name="keywords" content="Asesorias">
    <!-- Mobile Specific Metas ====================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css">
    <!-- Favicon ===================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
    <!-- Stylesheets ================================= -->
    <!-- Tailwind CSS ================================ -->
    {% tailwind_css %}
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/deafult.config.css' %}" rel="stylesheet">
</head>
<body>
  <main class='flex flex-row h-screen bg-gray-100 py-4'>
    {% include 'components/admin/navbar.html' %}
    <section class="flex flex-col h-full w-full px-10">
      {% include 'components/admin/header.html' %}
      <div class="bg-white h-[80vh] px-8 py-4 rounded-md shadow-inner bg-opacity-90 space-x-4">
        <div class="relative flex flex-col gap-y-2 items-center justify-start h-full bg-gray-100 rounded-md shadow-inner bg-opacity-95 p-6">
            {% if not nitAccount %}
            <div class="m-auto w-full flex flex-col justify-center items-center">
                <img src="{% static '/images/logo0.png' %}" alt="logo" class="w-48 h-20 my-2">
                <form method="get" class="container flex flex-col justify-center items-center mx-auto gap-y-6">
                    <input type="text" name="nitCompany" class="w-2/3 text-center rounded-sm shadow-sm">
                    <p class="text-center text-xs font-thin -mt-4">Ingrese el NIT de la empresa/comercio a 
                        consultar agregando el digito de verificacion </p>
                    <input type="submit" value="CONSULTAR" class="text-sm shadow-md px-3 py-2 rounded-md text-white bg-green-700 hover:bg-green-900 transition duration-300">
                </form>
            </div>
            {% elif nitAccount %}
            <div class="w-full flex flex-row items-center justify-between">
                <div class="flex flex-col gap-x-2 uppercase text-xs text-left mr-1">
                    <span class="flex flex-row gap-x-1 font-semibold text-green-900"><p>Empresa:</p>{{nitAccount.company}}</span>
                    <span class="flex flex-row gap-x-1 font-semibold text-green-900"><p>NIT:</p>{{nitAccount.nit}}</span>
                  </div>
                  <span><a href="{% url 'search' %}" class="text-blue-600 font-semibold hover:text-blue-800 transition-colors duration-300 uppercase text-xs">+ Nueva Consulta</a></span>  
            </div>
            <table class="min-w-full text-center text-sm font-light">
                <thead
                  class="border-b bg-neutral-600 font-medium text-white">
                  <tr class="uppercase text-xs">
                    <th scope="col" class=" px-6 py-4">ID</th>
                    <th scope="col" class=" px-6 py-4">Documento</th>
                    <th scope="col" class=" px-6 py-4">Inscripcion</th>
                    <th scope="col" class=" px-6 py-4">Vencimiento</th>
                    <th scope="col" class=" px-6 py-4">URL</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in iListFiles %}
                  <tr class="border-b {% if i.file_state %}{% else %}bg-red-100{% endif %}">
                    <td class="whitespace-nowrap px-6 py-2 font-medium">{{i.id}}</td>
                    <td class="whitespace-nowrap px-6 py-2">{{i.filename}}</td>
                    <td class="whitespace-nowrap px-6 py-2">{{i.file_date|date:'d M Y'}}</td>
                    <td class="whitespace-nowrap px-6 py-2 {% if i.file_state %}{% else %}font-semibold text-red-600{% endif %}">{{i.file_validity|date:'d M Y'}}</td>
                    <td class="whitespace-nowrap px-6 py-2">
                      {% if i.files %}
                        <a href="{{i.files.url}}" target="_blank"><i class="fas fa-download text-blue-600"></i></a>
                      {% else %}
                        <i class="fa-solid fa-link-slash text-red-800"></i>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                  {% if not iListFiles.has_next %}
                    {% for i in FixListPage %}
                    <tr class="border-b">
                      {% for _ in '12345' %}
                      <td class="whitespace-nowrap px-6 py-2"><p class="h-4"></p></td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  {% elif not iListFiles.has_other_pages %}
                    {% for i in FixListPage %}
                    <tr class="border-b">
                      {% for _ in '12345' %}
                      <td class="whitespace-nowrap px-6 py-2"><p class="h-4"></p></td>
                      {% endfor %}
                    </tr>
                    {% endfor %}           
                  {% endif %}
                </tbody>
            </table>
            <nav class="absolute bottom-0 flex items-center justify-center w-full text-center my-4">
                <ul>
                    {% if iListFiles.has_previous %}
                    <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block hover:bg-gray-300"><a class="block border-none font-normal text-lg" 
                        href="?page={{ iListFiles.previous_page_number }}"><i class="fa-solid fa-angles-left text-sm text-gray-700"></i></a></li>
                    {% else %}
                    <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block"><a class="block border-none font-normal text-lg"
                        href=""><i class="fa-solid fa-angles-left text-sm text-gray-400 cursor-not-allowed"></i></a></li>
                    {% endif %}
                    {% for page in iListFiles.paginator.page_range %}
                    {% if page == iListFiles.number %}
                    <li class="bg-gray-300 rounded-full px-3 pb-1 inline-block"><a class="block border-none font-normal text-lg"
                        href="">{{ page }}</a></li>
                    {% else %}
                    <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block hover:bg-gray-300"><a class="block border-none font-normal text-lg"
                        href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if iListFiles.has_next %}
                    <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block hover:bg-gray-300"><a class="block border-none font-normal text-lg"
                        href="?page={{ iListFiles.next_page_number }}"><i class="fa-solid fa-angles-right text-sm text-gray-700"></i></a></li>
                    {% else %}
                    <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block"><a class="block border-none font-normal text-lg"
                        href=""><i class="fa-solid fa-angles-right text-sm text-gray-400 cursor-not-allowed"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
      </div>
    </section>
  </main>
</body>
</html>