{% load static %}
{% load humanize %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es" class="w-full h-full">
<head>
    <!-- HTML5 AIECO WEBSITE ========================= -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIECO</title>
    <meta name="author" content="Aieco">
    <meta name="description" content="Asesorias Integrales">
    <meta name="keywords" content="Asesorias">
    <!-- Mobile Specific Metas ====================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css">
    <!-- Favicon ===================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
    <!-- Stylesheets ================================= -->
    <!-- Tailwind CSS ================================ -->
    {% tailwind_css %}
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <main class='flex flex-row h-screen bg-gray-100 py-4'>
    {% include 'components/admin/navbar.html' %}
    <section class="flex flex-col h-full w-full px-10">
      {% include 'components/admin/header.html' %}
      <div class="bg-white h-[80vh] px-8 py-4 rounded-md shadow-inner bg-opacity-90 space-x-4">
        <div class="relative flex flex-col gap-y-2 items-start justify-start h-full bg-gray-100 rounded-sm p-8 pb-2 border-double">
          <div class="w-full flex flex-row items-center justify-between uppercase text-xs">
            <div class="{{ message.tags }}">
              <ul class="ul-messages">
              {% for message in messages %}
                <div class="flex flex-row items-center gap-x-2">
                  <i class="fa-solid fa-bell text-gray-800 mt-1"></i>
                  <li {% if message.tags %} class="{{ message.tags }} {{ message.extra_tags }} font-semibold"{% endif %}>{{ message }}</li>
                </div>       
              {% endfor %}
              </ul>
            </div>
            <div class="flex flex-row gap-x-4 items-center">
              <span><a href="{% url 'shop' %}" class="text-blue-600 font-semibold hover:text-blue-800 transition-colors duration-300">+ Catalogo</a></span> 
              <span><a href="{% url 'tickets' %}" class="text-blue-900 font-semibold" >+ Solicitudes</a></span>
              <div class="flex flex-row gap-x-2 uppercase text-xs">
                <form method="GET">
                  {% csrf_token %}
                  <div class="relative flex flex-row items-center justify-start bg-white px-4 py rounded-full border border-gray-200">
                    <input type="text" id="nameFile" name="nameFile" class=" border-none focus:border-none focus:ring-0" value="{{nameFile}}" autocomplete="off">
                    <button type="submit" class="absolute right-4"><i class="fa-solid fa-magnifying-glass text-gray-600"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <table class="min-w-full table-fixed text-center text-sm font-light mt-4">
            <thead class="border-b bg-gray-500 font-medium text-white">
              <tr class="uppercase text-xs">
                <th scope="col" class="w-16 px-6 py-2">Código</th>
                <th scope="col" class="w-40 px-6 py-2">Nombre</th>
                <th scope="col" class="w-24 px-6 py-2">Valor</th>
                <th scope="col" class="w-32 px-6 py-2">Solicitado</th>
                <th scope="col" class="w-24 px-6 py-2">Vigencia</th>
                <th scope="col" class="w-16 px-6 py-2"><i class="fa-solid fa-ticket"></i></th>
              </tr>
            </thead>
              <tbody>
                {% for i in iListFiles %}
                <tr class="border-b uppercase text-xs">
                  <td class="whitespace-nowrap w-16 px-6 py-2 font-Courier font-semibold text-base">{{i.code}}</td>
                  <td class="whitespace-nowrap w-40 px-6 py-2">{{i.filename}}</td>
                  <td class="whitespace-nowrap w-24 px-6 py-2">{% if i.do == "waiting" %}---{% else %}${{i.price|intcomma}}{% endif %}</td>
                  <td class="whitespace-nowrap w-32 px-6 py-2">{{i.date_request|date:'d M Y'}}</td>
                  <td class="whitespace-nowrap w-24 px-6 py-2">{% if i.do == "waiting" %}---{% else %}{{i.file_validity|date:'d M Y'}}{% endif %}</td>
                  <td class="whitespace-nowrap w-16 px-6 py-2 font-Courier">
                    {% if i.do == "waiting" %}
                    <form method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="idFile" value="{{i.id}}">
                      <button type="submit" class="uppercase text-xs bg-red-600 hover:bg-red-800 text-gray-100 font-semibold px-2 py-1 rounded-sm transition duration-300">
                        Cancelar
                      </button>
                    </form>
                    {% elif i.do == "send"%}
                    <span class="uppercase text-xs bg-gray-400 text-gray-100 font-semibold px-2 py-1 rounded-sm">
                      Activado
                    </span>
                    {% elif i.do == "bill"%}
                    <span class="uppercase text-xs bg-gray-700 text-gray-100 font-semibold px-2 py-1 rounded-sm">
                      Pendiente
                    </span>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% if not iListFiles.has_next %}
                  {% for i in FixListPage %}
                  <tr class="border-b">
                    {% for _ in '123456' %}
                    <td class="whitespace-nowrap px-6 py-2"><p class="h-4"></p></td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                {% elif not iListFiles.has_other_pages %}
                  {% for i in FixListPage %}
                  <tr class="border-b">
                    {% for _ in '123456' %}
                    <td class="whitespace-nowrap px-6 py-2"><p class="h-4"></p></td>
                    {% endfor %}
                  </tr>
                  {% endfor %}           
                {% endif %}
              </tbody>
          </table>
          <nav class="absolute bottom-0 flex items-center justify-center w-full text-center my-4">
            <ul>
                {% if iListFiles.has_previous %}
                <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block hover:bg-gray-300"><a class="block border-none font-normal text-lg" 
                    href="?page={{ iListFiles.previous_page_number }}"><i class="fa-solid fa-angles-left text-sm text-gray-700"></i></a></li>
                {% else %}
                <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block"><a class="block border-none font-normal text-lg"
                    href=""><i class="fa-solid fa-angles-left text-sm text-gray-400 cursor-not-allowed"></i></a></li>
                {% endif %}
                {% for page in iListFiles.paginator.page_range %}
                {% if page == iListFiles.number %}
                <li class="bg-gray-300 rounded-full px-3 pb-1 inline-block"><a class="block border-none font-normal text-lg"
                    href="">{{ page }}</a></li>
                {% else %}
                <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block hover:bg-gray-300"><a class="block border-none font-normal text-lg"
                    href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
                {% if iListFiles.has_next %}
                <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block hover:bg-gray-300"><a class="block border-none font-normal text-lg"
                    href="?page={{ iListFiles.next_page_number }}"><i class="fa-solid fa-angles-right text-sm text-gray-700"></i></a></li>
                {% else %}
                <li class="bg-gray-200 rounded-full px-3 pb-1 inline-block"><a class="block border-none font-normal text-lg"
                    href=""><i class="fa-solid fa-angles-right text-sm text-gray-400 cursor-not-allowed"></i></a></li>
                {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </main>
</body>
</html>